html {
	background-color: #669999;
	font-family: 'Raleway', sans-serif;
}
h1 {
	color: #66CC99;
	padding-left: 1em;
}

dd {
	position: relative;
	left: 105px;
	bottom: 15px;
	color: white;
}

dt {
	color: #336666;
	font-size: 120%;
}

dl {
	padding: 2em;
	background-color: #66CC99;
	width: 20em;
}
